{% extends 'base.html.twig' %}

{% block title %}
    Roster
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Roster page</h1>

    <table>
        <caption>Roster</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Number</th>
                <th>Year</th>
                <th>Height</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
            {% for player in roster %}
                <tr>
                    <td>{{ player.getName() }}</td>
                    <td>{{ player.getPosition() }}</td>
                    <td>{{ player.getNumber() }}</td>
                    <td>{{ player.getBirthday()|date('d.m.Y') }}</td>
                    <td>{{ player.getHeight() }}</td>
                    <td>{{ player.getWeight() }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
